/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* Nossa Paleta de Roxos Agressiva e Premium */
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-300: #d8b4fe; /* Roxo claro / Lilás */
  --color-purple-500: #a855f7; /* Roxo vibrante (Principal) */
  --color-purple-700: #7e22ce; /* Roxo escuro */
  --color-purple-900: #4c1d95; /* Quase preto */
  
  --color-brutal-black: #0f0f0f;
  --color-brutal-bg: #f8f8f8; /* Fundo levemente off-white para dar contraste com as bordas */

  /* As Sombras Duras do Brutalismo */
  --shadow-brutal: 6px 6px 0px 0px var(--color-brutal-black);
  --shadow-brutal-sm: 4px 4px 0px 0px var(--color-brutal-black);
  --shadow-brutal-hover: 2px 2px 0px 0px var(--color-brutal-black);
  
  /* Bordas grossas padrão */
  --border-width-brutal: 4px;
}



@keyframes panImage {
  0% { object-position: 0% 50%; }
  100% { object-position: 100% 50%; }
}

@layer base {
  body {
    @apply bg-brutal-bg text-brutal-black antialiased;
    font-family: system-ui, -apple-system, sans-serif;
  }

  /* Efeito de scroll suave nativo que você pediu */
  html {
    scroll-behavior: smooth;
  }

  /* Reset brutalista para botões e inputs */
  button, input, select, textarea {
    @apply outline-none ring-0;
  }
}